<div class="main">
	<div class="container">
		<slot />
	</div>
</div>

<style>
	.main {
		width: 100%;
		min-height: 100%;
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.container {
		margin: auto;
		width: 100%;
		/* height: 100vh; */
		padding: 20px;
		color: white;
		background: #191f34;
		border-radius: 8px;
		-webkit-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.28);
		-moz-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.28);
		box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.28);
	}
	:global(a) {
		color: white;
	}
	:global(a:hover) {
		color: #6278c8;
	}
</style>
