<content>
	<h1>Fonner Development</h1>
	<p>
		My name is <a href="https://jedfonner.com/">Jed Fonner</a> and, in addition to
		<a href="https://jedfonner.com/resume#work-history" target="_blank" rel="noreferrer noopener"
			>my day job</a
		>, I build solutions to small but interesting problems using web-based technologies.
	</p>
	<div class="container">
		<div class="item">
			<h3><a href="https://loremquotesum.com">Lorem Quotesum</a></h3>
			<subtext>June, 2023</subtext>
			<p>
				Instead of using boring filler text, use funny quotes from the best movies and TV shows!
				Allows you to control the rich text options and output formats. Make your users chuckle when
				they read your demo copy and test data.
			</p>
			<img src="screenshots/loremquotesum.png" alt="Lorem Quotesum screenshot" />
		</div>
		<div class="item">
			<h3><a href="https://fonner.gitlab.io/audiobook-locker/">Audiobook Locker</a></h3>
			<subtext>February, 2023</subtext>
			<p>
				A cross-platform app for managing your audiobooks, including search, grouping, tagging, and
				metadata and cover editing. Keep your audibook collection tidy and easy to peruse.
			</p>
			<img src="screenshots/audiobook-locker.png" alt="Audiobook Locker screenshot" />
		</div>
		<div class="item">
			<h3><a href="https://simpleweeklymealplanner.com/">Simple Weekly Meal Planner</a></h3>
			<subtext>June, 2022</subtext>
			<p>
				A free, easy-to-use tool which lets you map out which meals you want to eat each week and
				ensure you have all the ingredients you need. It's a great tool for anyone who likes to eat
				but hates meal planning.
			</p>
			<img
				src="screenshots/simpleweeklymealplanner.png"
				alt="Simple Weekly Meal Planner screenshot"
			/>
		</div>
		<div class="item">
			<h3><a href="https://fonner.gitlab.io/shared-slides-clicker/">Shared Slides Clicker</a></h3>
			<subtext>Oct, 2020</subtext>
			<p>
				A Chrome/Edge extension which allows multiple users to remotely control a Google Slides
				presentation while on a video call. Google recently added this functionality directly to
				Meet, making this extension obsolete.
			</p>
			<iframe
				title="Shared Slides Clicker walkthrough"
				width="100%"
				height="370"
				src="https://www.youtube.com/embed/dZGWADqCy2U"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen
			/>
		</div>
	</div>
	<div class="footer">
		<div>
			<p>For more information, check out <a href="https://gitlab.com/fonner">my Gitlab Page</a></p>
		</div>
		<div>
			<p><a href="/privacy">Privacy Policy</a></p>
		</div>
	</div>
</content>

<style>
	content {
		padding-bottom: 20px;
	}
	.container {
		margin: 32px 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		gap: 32px;
	}
	.item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 4px;
		border: 1px solid #ccc;
		flex-basis: clamp(300px, 500px, 100%);
		min-width: 300px;
		padding: 16px;
	}
	.item > p {
		margin: 16px 0;
	}
	subtext {
		font-size: 0.8em;
		opacity: 0.7;
	}
	@media (max-width: 1680px) {
		.item {
			width: calc(50% - 32px);
			flex-basis: calc(50% - 32px);
		}
	}
	@media (max-width: 1100px) {
		.item {
			flex-basis: 100%;
			width: 100%;
		}
	}
	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
</style>
