app,
body,
global {
	display: block !important;
	height: auto !important;
	width: auto !important;
	position: static !important;
}
.desktop {
	display: none !important;
}
.mobile {
	flex-grow: 0 !important;
}
@media (min-width: 992px) {
	.desktop {
		display: inherit !important;
	}
	.mobile {
		display: none !important;
	}
}
